<code>
    {% assign slides = Model.ContentItem.Content.BagPart.ContentItems %}
    {% assign count = slides | size - 1 %}
</code>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in (0..count) %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" {% if i == 0 %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        {% for item in slides %}
        <div class="carousel-item {% if item == slides.first %}active {% endif %}" style="background-image: url('{{ item.Slide.Image.Paths.first | asset_url }}')">
            <div class="carousel-caption d-none d-md-block">
                <h3>{{ item.TitlePart.Title }}</h3>
                <p>{{ item.Slide.Description.Text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>